.navbar{
    background-color: rgb(4, 75, 4);
    display: flex;
}
.navbar img{
    padding: 10px;
    margin: 10px;
}
.navbar h3{
    color: white;
    margin: 30px;
}
nav>ul>a{
    color: white;
    text-decoration: none;
    padding: 45px;
    font-size: 24px;
}
ul>a:hover{
    text-decoration: underline solid white;
}
.colunm-1{
    background-image: url("images/beef.jpg");
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
}
.colunm-1 h2 {
    padding: 80px;
    font-size: larger;
    font-weight: bold;
}
.Dairy{
    display: flex;
    padding: 10px;
}
h2{
    
}
#jersy,#guernsy,#arshy{
    border: 2px ;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 3px 9px ;
    align-items: center;
}
.Dairy-1{
    display: flex;
    padding: 10px;
}
#fresian,#Holstein,#brown{
    border: 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 3px 9px;
}
button{
    color: white;
    background-color: rgb(4, 75, 4);
    border-radius: 20px;
    height: 30px;
    margin-left: 100px;
}
h5{
    font-weight: bold;
    font-size: larger;
}
h2{
    text-align: center;
}
.beef-1,.beef-2{
    display: flex;
    
}
#sahiwal,#boran,#sussex,#aberdeen,#aubrac,#trad{
    border: 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 3px 9px;
}
footer{
    background-color: rgb(201, 231, 243);
}
#colunm{
    display: flex;
    justify-content: space-around;
    
}
.line{
    border: 1px solid rgb(129, 126, 126);
    margin: 5px;
}
.copy{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}