.navbar{
    background-color: rgb(4, 75, 4);
    display: flex;
}
.navbar h3{
    color: white;
    margin: 30px;
}
nav>ul>a{
    color: white;
    text-decoration: none;
    padding: 45px;
    font-size: 24px;
}
.colunm-1{
    background-image: url("images/beef.jpg");
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
}
.colunm-1 h2 {
    padding: 80px;
    font-size: larger;
    font-weight: bold;
}
.Dairy{
    display: flex;
    padding: 10px;
}
h2{
    text-align: center;
}
#jersy,#guernsy,#arshy{
    border: 2px ;
    padding: 10px;
    margin: 20px;
}
.Dairy-1{
    display: flex;
    padding: 10px;
}
#fresian,#Holstein,#brown{
    border: 2px;
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 3px 6px solild green;
}
button{
    color: white;
    background-color: rgb(4, 75, 4);
    border-radius: 20px;
    height: 30px;
}
h5{
    font-weight: bold;
    font-size: larger;
}
